//--------------------------------------------------------------------
//- Mixin declarations
//--------------------------------------------------------------------
mixin valign
	ul.align-middle&attributes(attributes)
		li
			block

mixin vevent(msg, date)
	.vevent&attributes(attributes)
		ul
			each val, key in date
				li(class='#{key}') #{val}
		.description 
			span #{msg}

- var leading_zero = function(number){if(number < 10) return '0' + number; return number; }

- var date = new Date();
- var monthNames = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun','Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];

//--------------------------------------------------------------------
//- Back to the future representation
//--------------------------------------------------------------------
mixin back-to-the-future(date_destination, date_departed, date_present)
	- date_destination = date_destination || {'year': 1985, 'month': 'oct', 'day': 26, 'hour': '09', 'min': '00', 'sec': '00'}
	- date_present = date_present || {'year': date.getFullYear(), 'month':  monthNames[date.getMonth()], 'day': leading_zero(date.getDate()), 'hour': leading_zero(date.getHours()), 'min': leading_zero(date.getMinutes()), 'sec': leading_zero(date.getSeconds())}
	- date_departed = date_departed || {'year': 1955, 'month': 'nov', 'day': 12, 'hour': '06', 'min': 38, 'sec': '00'}

	+valign.back-to-the-future&attributes(attributes)
		+vevent('Destination time', date_destination).time_destination
		+vevent('Present time', date_present).time_present
		+vevent('Last time departed', date_departed).time_departed


