/*--------------------------------------------------------------------
	0 - DEMO
--------------------------------------------------------------------*/

* {
	box-sizing: border-box;
}

html,
body {
	@include square(100%);
	margin: 0;
	padding: 0;
	font-size: 16px;
}
