//--------------------------------------------------------------------
//- Start displaying of template
//--------------------------------------------------------------------
doctype html
block page
	html(lang=$lang)
		head(profile='http://microformats.org/profile/hcalendar')
			meta(charset='UTF-8')/
			meta(http-equiv='X-UA-Compatible', content='IE=edge')/
			meta(name='viewport', content='width=device-width, initial-scale=1')/
			meta(name='description', content=$page_description)/

			title #{$page_title}
			
			include ../helpers/stylesheets
				block stylesheets

		body
			//- include ../components/header
				block header

			block body

			//- include ../components/footer
				block footer

			include ../helpers/scripts
				block scripts
