/// Remove the unit of a length
/// @param {Number} $number - Number to remove unit from
/// @return {Number} - Unitless number
@function strip-unit($number) {
	@if type-of($number)=='number' and not unitless($number) {
		@return $number / ($number * 0 + 1);
	}

	@return $number;
}


//--------------------------------------------------------------------
//	Mixin that loop from $min & $max param to write $media query: $media-units 
//	$selector: ?? $property-unit, where ?? is the result of the calculation
//--------------------------------------------------------------------
@mixin transform-by-loop($selector: html, $min: $smallest-height, $max: $highest-height, $media: min-height, $media-unite: px, $property: font-size, $property-unit: px) {
	@for $index from $min through $max {
		// Defines our coefficient (for the smallest resolution at 60px, font-size is only 10px)
		$new_size: ($index / $coefficient); // If coefficient is not a decimal number, print @media query
		@if $new_size==ceil($new_size) {
			// .test-#{$index} {
			// 	content: "#{$new_size}";
			// }
			@if($index==$min) {
				#{$selector} {
					#{$property}: #{$new_size}#{$property-unit};
				}
			}
			@else {
				@media screen and (#{$media}: #{$index}#{$media-unite}) {
					#{$selector} {
						#{$property}: #{$new_size}#{$property-unit};
					}
				}
			}
		}
	}
}

//--------------------------------------------------------------------
//	Create square for selector with given unit
//--------------------------------------------------------------------
@mixin square($unit) {
	height:#{$unit};
	width:#{$unit};
}
