/*--------------------------------------------------------------------
	Vertical align using UL > LI
--------------------------------------------------------------------*/

.align-middle {
	list-style-position: inside;
	list-style-type: none;
	display: table;
	@include square(100%);

	&>li {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
}
