//--------------------------------------------------------------------
//- Start displaying of template
//--------------------------------------------------------------------
extends layouts/base

prepend page
	- $lang = 'fr';
	- $page_title = 'Back to the future countdown';
	- $page_description = 'Webdesign proof of concept: animated clock based on the movie "Back to the future"';
	- $stylesheets = ['./css/main.css', './css/back-to-the-future.css'];
	- $scripts = ['https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js', 'https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment-with-locales.min.js', 'https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.21/moment-timezone-with-data.min.js', './js/back-to-the-future.js'];

block body
	include back-to-the-future-landscape
	//- include back-to-the-future-square
	//- include back-to-the-future-portrait
